/*加载字体*/
@font-face {
    /*名称可自定义*/
    font-family: "MyFont";
    /*填写真实路径*/
    src:url('./font/华文彩云.ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    /*引用字体*/
    font-family: "MyFont";
}

.image {
    width: 200px;
    height: 200px;
}